/* large-sidebar.js */

.sidebar-wrapper {
    background-color: #dbc1ac;
    min-height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    justify-content: center;
}

.sidebar-card {
    background-color: #ece0d1;
    max-width: 700px;
    padding: min(50px, 5%);
    margin: 10%;
    display: flex;
    border-color: 'black';
    border-width: 10px;
    display: inline-block;
    transition: all .5s ease;
    box-shadow: 8px 14px 38px rgba(39,44,49,.06), 1px 3px 8px rgba(39,44,49,.03);
}

.sidebar-card:hover {
    transition: all .4s ease;
    transform: translate3D(0,-1px,0) scale(1.03);
    box-shadow: 8px 28px 50px rgba(39,44,49,.07), 1px 6px 12px rgba(39,44,49,.04);
}   

/* top part  */

.sidebar-top {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .sidebar-top-child {
        width: 100%;
        display: block; /* Stops it from floating */
        margin: auto; /* Ensures that it is centered */
        margin-bottom: 25px; /* Space between the stacked elements */
    }
}

.sidebar-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: filter .5s ease-in-out;
}

.sidebar-image:hover {
    filter: grayscale(0%);
}

.sidebar-top-text {
    display: flex;
    text-align: left;
    margin-left: 10%;
    flex-direction: column;
    justify-content: center;
}

.sidebar-text {
    color: #2E0E02;
    font-size: 30px;
}

.my-name {
    color: #2E0E02;
    font-size: 50px;
    margin-bottom: 10px;
}

/* bottom part */