/* semesterBlock.js */

.semester-block {
    background-color: #ece0d1;
    min-width: 400px;
    max-height: 300px;
    display: flex;
    border-color: 'black';
    border-width: 10px;
    display: inline-block;
}