.App {
  text-align: center;
}

.App-header {
  background-color: #634832;
  min-height: 100vh;
  display: flex;
}

.variant {
  background-color: #dbc1ac;
  padding-top: 100px;
  justify-content: center;
}

/* for adjusting menu links on homepage */

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 40px;
}

.menu {
  /* margin: 5%; */
  align-items: start;
}

.menu-item {
  /* margin-left: 15%; */
  transition: 0.4s;
  display: flex;
  /* align-content: flex-end; */
}

.menu:hover > .menu-item {
  opacity: 0.3;
}

.menu:hover > .menu-item:hover {
  opacity: 1;
}

/* grid layout on coursework page */

.courses-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}