.App {
  text-align: center;
}

.App-header {
  background-color: #634832;
  min-height: 100vh;
  display: flex;
}

/* for adjusting menu links */

.menu-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menu {
  margin: 5%;
  align-items: start;
}

.menu-item {
  transition: 0.4s;
  display: flex;
  align-content: flex-end;
}

.menu:hover > .menu-item {
  opacity: 0.3;
}

.menu:hover > .menu-item:hover {
  opacity: 1;
}